/*=============
  Footer
  Layout Mobile-First
  ==============*/
footer {
  padding: 3rem 1.5rem;

  /* Container Interno*/
  & .footer-content {
    max-width: 75rem;
    margin-inline: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
    text-align: center;
  }

  /*Título do Footer*/
  & h3 {
    font-size: 1.5rem;
    font-family: var(--ff-title);
    font-weight: 600;
  }
  
  /* Texto Auxiliar */
  & p {
    font-size: 0.875rem;
    color: var(--text-dark);
  }

  /* Redes Sociais */
  & .social-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    & a {
      display: flex;
      transition: transform 0.3s ease;
    }

    & a:hover {
      transform: scale(1.1);
    }
  }

  /* Ícones */
  & img {
    width: 2rem;
    height: 2rem;
  }

  & img:hover {
    filter: brightness(0) invert(1) sepia(1) saturate(5) hue-rotate(20deg);
  }
}

/*=============
  Footer
  Layout Desktop
  ==============*/
@media (width > 768px) {
  footer {
    padding: 4rem 1.5rem;

    & .footer-content {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20rem;
      padding-right: 50px;
    }

    & h3 {
      font-size: 2rem;
    }
  }
}